*{
    margin: 0;
    padding: 0;
    font-family: "Century Gothic", CenturyGothic, AppleGothic, sans-serif;
}

.navbar {
    overflow: hidden;
    background-color: #fff;
}

header{
    background-image: url(../images/landing.png);
    height: 100vh;
    background-size: cover;
    background-position: center;
}

.nav-bar ul{
    float: right;
    list-style-type: none;
    margin-top: 5px;
    margin-right: 10px;
}
.nav-bar ul li{
    display: inline-block;
    border: black 1px solid;
    border-radius: 4px;
}

.nav-bar ul li a{
    text-decoration: none;
    float: left;
    color: black;
    text-align: center;
    padding: 15px;
    font-size: 18px;
    line-height: 25px;
    border-radius: 4px;
    background-color: #fff;
}

.nav-bar ul li a:hover{
    background-color: black;
    color: #fff;
    font-weight: bold;
}
  
/* For responsiveness - when the screen is less than 500px wide, stack the links on top of each other */
@media screen and (max-width: 500px) {
    .nav-bar a {
      float: none;
      display: block;
      text-align: left;
    }
    .nav-bar-right {
      float: none;
    }
}

.logo img{
    float: left;
    width: 220px;
    height: auto;
}

.main-content{
    width: 93%;
    float: center;
    padding: 20px;
    margin-left: 20px;
    margin-top: 20px;
    margin-bottom: 20px;
    background-color: #fff;
    height: 500px;
    border-radius: 4px;
    box-shadow: 0 0 20px 0 rgba(0,0,0,0.2);
}

.cookiesheader{
    background-image: url(../images/cookiesheader.png);
    height: 100vh;
    background-size: cover;
    background-position: center;
}

.cookies-main-content{
    width: 93%;
    float: left;
    padding: 20px;
    margin-left: 20px;
    margin-top: 20px;
    margin-bottom: 20px;
    background-color: #fff;
    height: 1400px;
    border-radius: 4px;
    box-shadow: 0 0 20px 0 rgba(0,0,0,0.2);
}

.IngredientsList ul li {
    list-style-type: none;
    font-size: 20px;
    text-decoration: none;
    color: black;
    text-align: left;
    font-size: 18px;
}

.DirectionsList ol li {
    list-style-type: ordered;
    font-size: 20px;
    text-decoration: none;
    color: black;
    text-align: left;
    margin-left: 20px;
    font-size: 18px;
}

.table td {
    text-align: center;
}

.pastaheader{
    background-image: url(../images/pastaheader.png);
    height: 100vh;
    background-size: cover;
    background-position: center;
}

.pasta-main-content{
    width: 93%;
    float: left;
    padding: 20px;
    margin-left: 20px;
    margin-top: 20px;
    margin-bottom: 20px;
    background-color: #fff;
    height: 1600px;
    border-radius: 4px;
    box-shadow: 0 0 20px 0 rgba(0,0,0,0.2);
}

.tacosheader{
    background-image: url(../images/tacosheader.png);
    height: 100vh;
    background-size: cover;
    background-position: center;
}

.chickenheader{
    background-image: url(../images/chickenheader.png);
    height: 100vh;
    background-size: cover;
    background-position: center;
}

.tacos-main-content{
    width: 93%;
    float: left;
    padding: 20px;
    margin-left: 20px;
    margin-top: 20px;
    margin-bottom: 20px;
    background-color: #fff;
    height: 1700px;
    border-radius: 4px;
    box-shadow: 0 0 20px 0 rgba(0,0,0,0.2);
}

.chicken-main-content{
    width: 93%;
    float: left;
    padding: 20px;
    margin-left: 20px;
    margin-top: 20px;
    margin-bottom: 20px;
    background-color: #fff;
    height: 1500px;
    border-radius: 4px;
    box-shadow: 0 0 20px 0 rgba(0,0,0,0.2);
}